<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="<%= webpackConfig.output.publicPath %>">
    <title>Unstable Unicorns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
</body>
</html>